<html ng-app="ciqual">
<head>
<title>Ciqual</title>
<meta charset="UTF-8" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="ciqual.css" />
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<script src="//code.angularjs.org/1.4.4/i18n/angular-locale_fr-fr.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-resource.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script src="angular-typeahead.min.js"></script>
<script src="ciqual.js"></script>
</head>
<body>
<div class="container-fluid" ng-controller="CiqualController">
	<div class="page-header">
		<h1>Ciqual</h1>
	</div>
	<form no-validate>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h2 class="panel-title">Ingrédients</h2>
		</div>
		<table class="table table-condensed">
		<colgroup>
			<col width="450" />
			<col width="150" />
			<col width="100" />
			<col width="100" />
			<col width="100" />
			<col width="100" />
			<col width="50" />
		</colgroup>
		<thead>
			<tr>
				<th>Ingrédient</th>
				<th>Poids</th>
				<th class="text-center">Protéines</th>
				<th class="text-center">Glucides</th>
				<th class="text-center">Lipides</th>
				<th class="text-center">Énergie</th>
				<th class="text-center">
					<button type="button" class="btn btn-success" aria-label="Ajouter" title="Ajouter" ng-click="ajouterIngredient($index)">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					</button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="ingredient in ingredients">
				<td>
					<input class="form-control sfTypeahead" type="text" datasets="ingredientsDataset" options="typeaheadOptions" ng-model="ingredient.selected" placeholder="Ingrédient" />
				</td>
				<td>
					<div class="input-group">
						<input class="form-control" type="number" min="0" step="10" placeholder="Poids" ng-model="ingredient.poids" />
						<span class="input-group-addon">g</span>
					</div>
				</td>
				<td class="text-center">
					<span ng-show="ingredient.selected.proteines">{{ingredient.selected.proteines * ingredient.poids / 100 | number:2}} g</span>
				</td>
				<td class="text-center">
					<span ng-show="ingredient.selected.glucides">{{ingredient.selected.glucides * ingredient.poids / 100 | number:2}} g</span>
				</td>
				<td class="text-center">
					<span ng-show="ingredient.selected.lipides">{{ingredient.selected.lipides * ingredient.poids / 100 | number:2}} g</span>
				</td>
				<td class="text-center">
					<span ng-show="ingredient.selected.energie">{{ingredient.selected.energie * ingredient.poids / 100 | number:2}} kcal</span>
				</td>
				<td class="text-center">
					<button type="button" class="btn btn-danger" aria-label="Supprimer" title="Supprimer" ng-click="supprimerIngredient($index)">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<th class="text-right">Total</th>
				<th>{{total.poids | number:2}} g</th>
				<th class="text-center">{{total.proteines | number:2}} g</th>
				<th class="text-center">{{total.glucides | number:2}} g</th>
				<th class="text-center">{{total.lipides | number:2}} g</th>
				<th class="text-center">{{total.energie | number:2}} kcal</th>
				<th></th>
			</tr>
			<tr>
				<th class="text-right">Pour une portion de</th>
				<th>
					<div class="input-group">
						<input class="form-control" type="number" min="0" step="10" placeholder="Poids" ng-model="poidsPortion" />
						<span class="input-group-addon">g</span>
					</div>
				</th>
				<th class="text-center">{{pourPortionPoids(total.proteines) | number:2}} g</th>
				<th class="text-center">{{pourPortionPoids(total.glucides) | number:2}} g</th>
				<th class="text-center">{{pourPortionPoids(total.lipides) | number:2}} g</th>
				<th class="text-center">{{pourPortionPoids(total.energie) | number:2}} kcal</th>
				<th></th>
			</tr>
			<tr>
				<th class="text-right form-inline">
					Pour <input class="form-control text-center" type="number" min="1" style="width: 5em" placeholder="n" ng-model="nombrePortions" /> portions de
				</th>
				<th>{{pourNombrePortions(total.poids) | number:2}} g</th>
				<th class="text-center">{{pourNombrePortions(total.proteines) | number:2}} g</th>
				<th class="text-center">{{pourNombrePortions(total.glucides) | number:2}} g</th>
				<th class="text-center">{{pourNombrePortions(total.lipides) | number:2}} g</th>
				<th class="text-center">{{pourNombrePortions(total.energie) | number:2}} kcal</th>
				<th></th>
			</tr>
		</tfoot>
		</table>
	</div>
	</form>
</div>
</body>
</html>
